@model Project1.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.externalId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.externalId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.barcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.barcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.retailPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.retailPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.wholesalePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.wholesalePrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.discount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
